@import '~normalize.css';
@import 'meta/colors';

body {
  font-family: Open Sans, serif;
  font-size: 18px;

  color: rgba(black, 0.75);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Literata, sans-serif;
  font-weight: 500;

  color: black;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 1.5em;
}

p {
  line-height: 1.5;
}

a {
  color: $blue;
}

pre {
  padding: 0.5em 0.75em;

  background-color: rgba($pink, 0.05);
  border: 1px rgba($blue, 0.2) solid;
}

:not(pre) > code {
  padding: 0 4px;

  background-color: rgba($pink, 0.05);
  border: 1px rgba($blue, 0.2) solid;
  color: $orange;
}
