@import '~normalize.css';
@import '~prismjs/themes/prism.css';

@import 'meta/variables';
@import 'meta/mixins';
@import 'articles/sorting-algorithms';
@import 'articles/transform-when';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 18px;

  color: hsl(0, 0%, 27%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 1em;
  font-family: Literata, serif;
  font-weight: 500;

  color: black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

p, li {
  line-height: 1.5;
}

li {
  margin-bottom: 0.5em;
}

@include desktop {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  p, li {
    line-height: 1.5;
  }
}

a {
  color: $blue;
}

button {
  padding: 15px 25px;

  background-color: white;
  border: 2px $blue solid;
  border-radius: 5px;
  color: $blue;
  cursor: pointer;
}

pre {
  margin: 1.5em 0;
  padding: 0.5em 0.75em;
  overflow: auto;

  background-color: rgba($pink, 0.05);
  border: 1px rgba($blue, 0.2) solid;
  border-radius: 2px;

  @include mobile {
    font-size: 0.8em;
  }
}

:not(pre) > code {
  padding: 0 4px;

  background-color: rgba($pink, 0.05);
  border: 1px rgba($blue, 0.2) solid;
  border-radius: 2px;
  color: $orange;
}

hr {
  margin: 2em 0;

  border: none;
  border-bottom: 1px rgba($blue, 0.2) solid;
}

img {
  max-width: 100%;
}

.heading-anchor {
  text-decoration: none;

  color: inherit;

  span {
    display: inline-block;
    width: 25px;
    margin-left: -25px;

    font-size: 25px;

    color: $blue;
  }

  &:not(:hover) span {
    visibility: hidden;
  }
}

blockquote {
  font-size: 0.9em;
  padding-left: 15px;
  margin: 1.5em 0 2em 15px;
  border-left: 5px rgba($blue, 0.25) solid;
}

noscript {
  color: $orange;
  font-weight: bold;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}
